*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    background-color: rgb(166, 122, 56);
}
.button{
    position: relative;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: rgb(213, 201, 187);
    display: inline;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.4s;
}
.button:hover{
    letter-spacing: 0.4rem;
}
#NEWSLETTER{
    position: fixed;
    top: -100%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(223, 220, 214);
    z-index: 1000;
    width: 500;
    padding: 80px 50px 50px;
    transition: 0.4s;
    border-radius: 8px;
    visibility: hidden;
}
#NEWSLETTER.active{
    visibility: visible;
    top: 50%;
}
#NEWSLETTER .box{
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
input,button{
    width: 100%;
    border: 1px solid;
    padding: 15px;
    outline: none;
    font-size: 1rem;
}
button{
    border-color: black;
    border-radius: 6px;
    border-width: 0.05cm;
    width: 150px;
    letter-spacing: 0.1rem;
    background-color: rgb(166, 122, 56);
    color: aliceblue;
    cursor: pointer;
}
.close{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
}